<section class="footer">
    <div class="container">
        <h2>Cognitio</h2>
        <div class="div-master">
            <div>
                <h3>Contatos</h3>
                <a src="/">contato&#64;cognitio.com</a>
                <a src="/">+1-2345-6789</a>
                <a src="/">123 Ave, New York, USA</a>
            </div>
            <div>
                <h3>Produtos</h3>
                <a src="/">Auctor volutpat.</a>
                <a src="/">Fermentum turpis.</a>
                <a src="/">Mi consequat.</a>
            </div>
            <div>
                <h3>Github</h3>
                <a src="/">Amet venenatis.</a>
                <a src="/">Egestas vitae.</a>
                <a src="/">Eget ac tellus.</a>
            </div>
        </div>
    </div>
</section>
