<section class="footer">
    <div class="container">
        <h2>Cognitio</h2>
        <div class="div-master">
            <div>
                <h3>Contatos</h3>
                <a>contato&#64;cognitio.com</a>
                <a>+1-2345-6789</a>
                <a>123 Ave, New York, USA</a>
            </div>
            <div>
                <h3>Produtos</h3>
                <a>Auctor volutpat.</a>
                <a>Fermentum turpis.</a>
                <a>Mi consequat.</a>
            </div>
            <div>
                <h3>Github</h3>
                <a>Amet venenatis.</a>
                <a>Egestas vitae.</a>
                <a>Eget ac tellus.</a>
            </div>
        </div>
    </div>
</section>
