<section>
  <div>
    <div>
      <h1>Temos um suporte ágil e prático!</h1>
      <a href="">Suporte</a>
      <p> Estamos aqui para ajudar! Se você tiver qualquer dúvida ou precisar de suporte, entre em contato conosco. Nossa equipe está disponível para fornecer o atendimento necessário para uma experiência de aprendizado sem interrupções.  </p>
    </div>
    <img src="" alt="IMAGEM">
  </div>
  <div>
    <h2>Suporte de maximizar o seu projeto.</h2>
    <div>
      <a href="">
        <h3>Nossos Horários de Atendimento:</h3>
        <ul>
          <li>Segunda a Sexta: 9h às 18h</li>
          <li>Sábados: 10h às 14h</li>
        </ul>
      </a>
      <a href="">
        <h3>WhatsApp</h3>
        <p>Entre em contato conosco através do WhatsApp.</p>
        <img src="" alt="IMAGEM">

      </a>
      <a href="">
        <h3>Chat Online</h3>
        <p>Entre em contato conosco através do Chat Online.</p>
        <img src="" alt="IMAGEM">
      </a>
      <a href="">
        <h3>E-mail</h3>
        <p>Entre em contato conosco através do E-mail.</p>
        <img src="" alt="IMAGEM">
      </a>
    </div>
  </div>
</section>
