<div class="topbar" >
    <ul class="topbar-lista">
        <li><a href="">LOGO</a></li>
        <li><a href="/lobby">Home</a></li>
        <li><a href="/">Sobre</a></li>
        <li><a href="/faleconosco">Fale Conosco</a></li>
        <li><a href="/biblioteca">Área de membros</a></li>

    </ul>
    <ul class="topbar-lista">
        <li *ngIf="!(isLoggedIn$ | async)"><a href="/Cadastrar">Cadastre-se</a></li>
        <li *ngIf="!(isLoggedIn$ | async)" class="login"><a href="/login">Login</a></li>
        <li *ngIf="isLoggedIn$ | async">
          <a href="#" (click)="onLogout()">Logout</a>
        </li>
    </ul>
</div>
