<div class="login-container">
    <div class="login">
        <h2>Cadastrar-se</h2>
        <form action="" method="post">
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Senha"> 
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="checkNativeSwitch" switch>
                <label class="form-check-label" for="checkNativeSwitch">
                    Entrar como Professor
                </label>
            </div>
            <button type="submit">Entrar</button>
        </form>
    </div>
</div>
