
<section class="secao-destaque">
  <div class="container">
    <div class="coluna-esquerda">
      <div class="texto">
        <h1>Venda o seu</h1>
        <span class="realce"><strong>conhecimento !</strong></span>
        <a href="#" class="btn">Juntar-se</a>
      </div>
    </div>
    <div class="coluna-direita">
      <img src="imagens/mascote.png" alt="Personagem Cognitio" alt="Personagem Cognitio" />
    </div>
  </div>
</section>

<section class="sessao-cards">
  <div class="cabecalho-dos-cards">
    <h2><strong>Aumente suas vendas através da</strong></h2>
    <h3 class="cards-subtitle"><strong>nossa plataforma</strong></h3>
  </div>
  <div class="cards-container">
    <div class="card-esquerda">
      <img src="imagens/mac.png" alt="Cognitio" />
    </div>
    <div class="lista-de-cards">
      <div class="card">
        <h3>Sem taxas</h3>
        <p>Faça parte da revolução das plataformas de pagamento, aqui na Cognitio a taxa é 0% sobre suas vendas no pix!</p>
      </div>
      <div class="card">
        <h3>Praticidade</h3>
        <p>A Cognitio tem um sistema prático e intuitivo para o cliente que adquirir o seu produto.</p>
      </div>
    </div>
  </div>
</section>

<section class="recebimento-secao">
  <h2 class="recebimento-titulo">Prazos de recebimento</h2>
  <p class="recebimento-subtitulo">
    Vender e ficar com o dinheiro parado na plataforma não é nada saudável,<strong>por isso facilitamos ao máximo o saque para você.</strong>
  </p>
  <div class="recebimento-cards">
    <div class="recebimento-card">
      <div class="card-top-indicator"></div>
      <h3><br><br>PIX <span>1</span><small>Dia</small></h3><br><br><br>
      <p class="card-sub">Prazo de recebimento</p>
    </div>
    <div class="recebimento-card">
      <div class="card-top-indicator"></div>
      <h3><br>BOLETO <br/>BANCÁRIO <span><br>1</span><small>Dia</small></h3>
      <p class="card-sub"><br>Prazo de recebimento</p>
    </div>
    <div class="recebimento-card">
      <div class="card-top-indicator"></div>
      <h3><br>CARTÃO <br />DE CRÉDITO <span>10</span><small>Dias</small></h3>
      <p class="card-sub"><br>Prazo de recebimento</p>
    </div>
  </div>
</section>

<section class="conquista-section">
  <div class="conquista-container">
    <div class="conquista-img">
      <img src="imagens/BRANDING (15) 1.png" alt="Placa Cognitio 100 mil em vendas" />
    </div>
    <div class="conquista-texto">
      <h2>Estaremos comemorando<br>com você a cada conquista.</h2>
      <p><strong>Recompensas são importantes para continuar a busca dos nossos objetivos...</strong></p>
      <p>Por isso oferecemos premiações exclusivas aos nossos parceiros que estão chegando lá!</p>
      <p>Premiação especial para nossos parceiros que atingem <strong>R$ 10 MIL</strong> em vendas.</p>
      <p>Além das nossas lindas placas de <strong>R$ 100 mil</strong>; <strong>R$ 1 milhão</strong>; <strong>R$ 5 milhões</strong> e <strong>R$ 10 milhões</strong>.</p>
    </div>
  </div>
</section>

