<Div>
    <div class="main-sobre">
        <div>
            <h1>Temos um suporte <strong>ágil e prático!</strong></h1>
            <a href="">Suporte</a>
            <p>Estamos aqui para ajudar! Se você tiver qualquer dúvida ou precisar de suporte, entre em contato conosco. Nossa equipe está disponível para fornecer o atendimento  necessário para uma experiência de aprendizado sem interrupções.  </p>
        </div>
        <img src="" alt="IMAGEM">
    </div>
    <div class="cards-contatos">
        <h2><strong>Suporte de maximizar</strong> o seu projeto.</h2>
        <div class="cards">
             <div class="card-atendimento">
                <h3>Nossos Horários de Atendimento:</h3>
                <Ul>
                    <li>Segunda a Sexta: 9h às 18h</li>
                    <li>Sábados: 10h às 14h</li>
                </Ul>
             </div>
             <div class="card">
                <div>
                    <h3>WhatsApp</h3>
                    <p>Entre em contato conosco através do WhatsApp. </p>
                </div>
                <img src="" alt="IMAGEM">
             </div>
             <div class="card">
                <div>
                    <h3>Chat Online</h3>
                    <p>Entre em contato conosco através do Chat Online.</p>
                </div>
                <img src="" alt="IMAGEM">
             </div>
             <div class="card">
                <div>
                    <h3>E-mail</h3>
                    <p>Entre em contato conosco através do E-mail.</p>
                </div>
                <img src="" alt="IMAGEM">
             </div>
        </div>
    </div>
</Div>