<div class="container">
  <h1>Cognitio pavimentará<br><span class="bold">seu futuro!</span></h1>
  <div class="box">
    <p>
      Na <span class="bold">Cognitio</span>, nosso objetivo é 
      <span class="bold">simplificar o mercado<br>de produtos digitais</span>, oferecendo 
      <span class="bold">uma plataforma acessível e eficiente</span> para infoprodutores.
    </p>
  </div>
</div>

<section class="familia">
  <h2>Família <span class="bold">Cognitio</span></h2>
  <div class="estatisticas">
    <div class="card">
      <span class="numero">+100</span>
      <span class="texto">COLABORADORES</span>
    </div>
    <div class="card">
      <span class="numero">+30 MIL</span>
      <span class="texto">CRIADORES DE CONTEÚDO</span>
    </div>
    <div class="card">
      <span class="numero">+1M</span>
      <span class="texto">DE ASSINANTES</span>
    </div>
  </div>
  <img src="imagens/mascote.png" alt="Personagem Cognitio" class="personagem">
</section>

<section class="historia">
  <div class="historia-container">
    <div class="historia-esquerda">
      <h2>História <span class="bold">Cognitio</span></h2>
      <img src="imagens/logo (2).png" alt="Logo Cognitid">
    </div>
    <div class="historia-direita">
      <p>
        A <strong>Cognitio</strong> é um site de venda de curso que foi desenvolvida por alunos do 
        <strong>SENAC RJ</strong> durante o <strong>período do curso</strong>. A princípio, a 
        <strong>Cognitio</strong> seria um projeto apenas para o TCC do curso, mas vimos uma grande 
        chance de fazer esse sistema rodar e <strong>hoje em dia</strong> somamos mais de 
        <strong>30 MIL criadores de conteúdo</strong> e mais de <strong>1 MILHÃO de assinantes</strong>.
      </p>
    </div>
  </div>
</section>

<section class="ceos">
  <h2><span class="bold">CEO’s</span> Cognitio</h2>
  <div class="ceo-cards">
    <div class="ceo-card">
      <img src="imagens/ceo1.png" alt="Ceoko">
      <button>Túlio</button>
    </div>
    <div class="ceo-card">
      <img src="imagens/ceo2.png" alt="Ceoko">
      <button>Fernando </button>
    </div>
    <div class="ceo-card">
      <img src="imagens/ceo1.png" alt="Ceoko">
      <button>Luis</button>
    </div>
    <div class="ceo-card">
      <img src="imagens/ceo1.png" alt="Ceoko">
      <button>Wilian</button>
    </div>
    <div class="ceo-card">
      <img src="imagens/ceo1.png" alt="Ceoko">
      <button>Caramelo</button>
    </div>
  </div>
</section>






