section {
    padding: 4rem 8%;
    background: #ebebeb;
    height: 1200px;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  
  /* Container dos cursos */
  .cursos-container {
    margin: 100px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   background-color: #FFFFFF;
   border-radius: 10px;
  }
  
  /* Card individual */
  .cursos {
    width: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
  }


  .cursos img {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 200px;
  }
  
 /* Carrousel */
 .carousel-img img{
  justify-content: center;
  align-items: center;
  background-color: aqua;
  max-height: 500px;
  width: 100%;
  }