
  <header class="hero">
    <div class="hero-text">
      <h1>Temos um suporte <br><strong>ágil e prático!</strong></h1>
      <button class="btn-suporte">Suporte</button>
      <p class="info">Estamos aqui para ajudar! Se você tiver qualquer dúvida, nossa equipe de suporte está à disposição para auxiliá-lo. <br>Buscamos oferecer uma experiência de atendimento humanizada e eficaz.</p>
    </div>
    <div class="hero-img">
      <img src="imagens/faleconosco.png" alt="aaa"> 
    </div>
  </header>

  <section class="section-suporte">
    <h2><strong>Suporte de maximizar</strong><br>o seu projeto.</h2>
    
    <div class="cards-container">
      <div class="card">
        <h3>Nossos Horários de Atendimento:</h3>
        <ul>
          <li>Segunda a Sexta: 9h às 18h</li>
          <li>Sábados: 10h às 14h</li>
        </ul>
      </div>

      <div class="card">
        <h3>WhatsApp</h3>
        <p>Entre em contato conosco através do WhatsApp.</p>
      </div>

      <div class="card">
        <h3>Chat Online</h3>
        <p>Entre em contato conosco através do Chat Online.</p>
      </div>

      <div class="card">
        <h3>E-mail</h3>
        <p>Entre em contato conosco através do E-mail.</p>
      </div>
    </div>
  </section>
  